.questionFormat {
  font-size: xx-large;
}

.optionButton {
  /* background-color: teal; */
  background-color: white;
  border-radius: 4px;
  margin: 15px;
  color: teal;
  text-align: center;
  font-family: Handlee;
  padding: 2%;
  font-size: 30px;
}

.optionButton:hover {
  background-color: rgb(77, 129, 129);
}

.optionImage {
  width: 70px;
  height: 70px;
  /* padding: 3%;
  margin: 15px;
  margin-left: 60%; */
}

.backRefreshButton {
  padding: 150;
  background-color: teal;
  border-radius: 4px;
  margin: 40px 0 0 0;
  color: white;
  text-align: center;
}

.backButton {
  text-align: right;
  /* padding-top: 2%; */
}

.refreshButton {
  text-align: left;
  /* padding-top: 2%; */
}
.backRefreshButton:hover {
  background-color: rgb(1, 61, 61);
}

@media only screen and (max-width: 1000px) {
  .optionButton {
    font-size: 150%;
  }
}

@media only screen and (max-width: 1000px) {
  .backRefreshButton {
    font-size: 150%;
  }
}