.photo {
    height: 300px;
    width: 400px;
}

a {
    color: pink;
    font-size: 20px;
  }

  a:hover {
    color: yellow;
 }

 @media only screen and (min-width: 500px) {
  p {
    font-size: 150%;
  }
}