.App {
  text-align: center;
  color:white
}

body {
  /* background-image: url("/images/background2.jpg"); */
  background-size: cover;
}

.options {
  background-color: #bd7ca5;
  border-radius: 4px;
  border: 0;
  margin: 5px;
  color: white;
  text-align: center;
  border-radius: 50%;
}

/* .date {
  font-size: 25px;
} */

@media only screen and (min-width: 1000px) {
  .date {
    font-size: 160%;
  }
}

.questionRow {
  padding-bottom: 1%;
}

